@import "src/app/styles/index";

@keyframes point-animation {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }
  25% {
    transform: translateY(-50%) translateX(10%);
    opacity: 1;
  }
  50% {
    transform: translateY(-100%) translateX(25%);
    opacity: 1;
  }
  100% {
    transform: translateY(-150%) translateX(50%);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.root {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  margin-top: 10px;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skinContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: float 5s ease-in-out infinite;
}

.statsContainer {
  margin-bottom: 80px; 
}


.value img {
    margin-right: 8px;
    width: 24px; 
    height: 24px;
}


.item {
    width: 9.39%;

    & + & {
        margin-left: -1.3%;
    }
}

.point {
  position: absolute;
  animation: point-animation 0.5s forwards linear;
  transform: translateY(0) translateX(0);
  z-index: 5;
}

.pointText {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold; 
}

.skinImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.2);
}


@keyframes load {
    to {
        width: var(--width);
    }
}
